.git
.github
.idea
.vscode
*.exe
*.log
config.toml
godrive.toml
godrive.json
godrive
godrive.db
godrive.db-*
storage
frontend/node_modules
frontend/.nuxt
frontend/.output
frontend/.data
frontend/dist
tmp
README.md
LICENSE
