.idea/
storage/
godrive.json
godrive.toml
.godrive
godrive.db
godrive.db-shm
godrive.db-wal
/godrive.exe
/godrive
!/godrive/
*.exe
*.exe~
*.log
go.work
go.work.sum
web/node_modules/
web/.nuxt/
web/.output/
