#add-api-token-form {
	flex-direction: row;
	justify-content: right;
}

#add-api-token-form > * {
	align-content: center;
}

.show-on-click {
	padding: 0.25rem;
	opacity: 0;
}

.show-on-click:focus {
	opacity: 1;
}