.error {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.error h1 {
    font-weight: bolder;
}

.error-details {
    text-align: start;
}

.error p {
    color: var(--text-error);
}

.error a {
    color: var(--text-primary);
}