#settings {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    align-items: stretch;
    justify-content: stretch;
    padding: 0.5rem;
    max-width: 50rem;
}

#user-list {
    grid-template-columns: repeat(3, 1fr);
}

#permission-list {
    grid-template-columns: repeat(5, 1fr);
}