#settings {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    align-items: stretch;
    justify-content: stretch;
    padding: 0.5rem;
    max-width: 50rem;
}

.user-icon {
	background-image: var(--user);
}

#user-list {
    grid-template-columns: 2.5rem repeat(4, auto);
}

#permission-list {
    grid-template-columns: repeat(5, 1fr);
}