header {
    background: var(--bg-secondary);
    display: flex;
    justify-content: space-between;
    height: 4rem;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

header > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    padding: 0.5rem;
    margin-top: 4rem;
}

#title {
    padding: 0;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-primary);
    user-select: none;
}

#navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-bottom: 1px solid var(--bg-secondary);
}

.navigation-path {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-primary);
    flex-grow: 1;
}

.navigation-path a {
    text-decoration: none;
    text-decoration-thickness: 2px;
    color: var(--text-primary);
}

.navigation-path a:hover {
    text-decoration: underline;
}

#files-more {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-radius: 0.5rem;
}

#file-list {
    grid-template-columns: 2.5rem repeat(6, auto) 6rem;
}

.file-more {
    background-image: var(--arrow-down);
    font-size: 1rem;
    padding: 0 1rem 0 0;
    border-radius: 0;
    transition: background-color 0.2s ease, color 0.2s ease, filter 0.2s ease;
}

.file-more:hover {
    background-color: var(--bg-secondary);
}

#theme {
    display: none;
}

#github {
    background-image: var(--github);
}

#close {
    background-image: var(--close);
}

#theme + label {
    background-image: var(--theme);
}

#upload-files > div {
    padding: 0.5rem;
}

.upload-file {
    display: flex;
    align-items: start;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: var(--bg-secondary);
    border-radius: 1rem;
}

.upload-file-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
}

#upload-files input,
#upload-files textarea {
    background-color: var(--bg-primary);
}

.dialog-main-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#upload-file-fields {
    flex-grow: 1;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.5rem;
}

.dialog-main-feedback {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}

.progress {
    width: 100%;
    height: 1rem;
    background-color: var(--bg-secondary-active);
}

.progress > div {
    width: 0;
    height: 1rem;
    background-color: var(--primary);
}

.upload-error {
    color: var(--text-error);
    text-align: start;
}

.file-icon {
    background-image: var(--file);
}

.folder-icon {
    background-image: var(--folder);
}

.loading {
    background-image: url(/assets/icons/loading.gif) !important;
}
