.table-list {
    display: grid;
    grid-template-columns: auto;
    overflow: auto;
    align-items: stretch;
    justify-content: stretch;
    padding: 0.5rem;
}

.table-list-entry {
    display: contents;
    font-size: 1rem;
}

.table-list-entry:hover > * {
    background-color: var(--bg-secondary);
}

.table-list-entry > * {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
    border-bottom: 1px solid var(--bg-secondary);
}

.table-list-entry a {
    color: var(--text-primary);
}

@media (max-width: 40rem) {
    .table-list {
        grid-template-columns: 1fr !important;
        padding: 0.5rem 0 0.5rem 0;
    }

    .table-list-entry > * {
        padding: 0.5rem 1rem 0.5rem 1rem;
    }

    .table-list-entry > *:first-child {
        padding: 1rem 1rem 0.5rem 1rem;
        border-radius: 1rem 1rem 0 0;
    }

    .table-list-entry > *:last-child {
        padding: 0.5rem 1rem 1rem 1rem;
        margin-bottom: 0.5rem;
        border-radius: 0 0 1rem 1rem;
    }

    .table-list-entry > * {
        border-bottom: none;
        background-color: var(--bg-secondary);
    }

    .table-list-entry > *::before {
        font-weight: bold;
        text-transform: capitalize;
    }

    .table-list-entry > *:nth-of-type(1)::before {
        content: "Name:";
    }

    .table-list-entry > *:nth-of-type(2)::before {
        content: "Size:";
    }

    .table-list-entry > *:nth-of-type(3)::before {
        content: "Modified:";
    }

    .table-list-entry > *:nth-of-type(4)::before {
        content: "Description:";
    }

    .table-list-entry > *:nth-of-type(5)::before {
        content: "Owner:";
    }
}