{{ template "head.gohtml" . }}
<body>
{{ template "header.gohtml" . }}
<main>
    <div>
        <h1>404</h1>
        <p>Page not found</p>
    </div>
</main>
<script src="/assets/theme.js" defer></script>
</body>
</html>
