<header>
    <a title="godrive" id="title" href="/">godrive</a>

    <a title="GitHub" id="github" class="icon-btn" href="https://github.com/TopiSenpai/godrive" target="_blank"></a>

    <input id="theme" type="checkbox">
    <label title="Theme" class="icon-btn" for="theme"></label>
</header>
